@import '../styles/theme.css';

.EditableBox {
    display: block;
    box-sizing: border-box;
    padding: 3px;
    font-size: 1rem;
    line-height: 1.5;
    font-family: inherit;
    color: inherit;
    width: 100%;

    /* Shared styling */
    border: 0px solid transparent;
    background-color: transparent;

    transition: background-color 0.2s ease, border-color 0.2s ease;
    resize: none;
    overflow: hidden;
}

.EditableBox.Editing {
    background-color: rgba(0,0,0,0.02);
    outline: none;
    border-bottom: 2px solid var(--off-black);
}